/* MENU */
.menu img {
    max-width: 150px;
}

.menu ul{
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

.menu nav ul li{
    padding: 20px 0px
}

.menu nav ul li a{
    display: block;
    position: relative;
    font-family: var(--default-font);
    font-size: 1.1rem;
    font-weight: bold;
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0px;
    height: 0.2rem;
    background-color: var(--options-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 60%;
    left: 25%;
}

/* HOME */
.spacing-home{
    height: 60px;
    width: 100%;
    background: var(--bg-light-blue);
}
.home-inicio{
    width: 100%;
    height: 50vh;
    border-radius: 10px;
    background: linear-gradient(to bottom, var(--bg-light-blue),white, var(--bg-light-blue));
}
.home-inicio p, h2, .img-home {
    max-width: 60%;
    text-align: center;
    margin: auto;
    color: var(--options-color);
    font-size: 2.5em;
}
.img-home{
    min-width: 100%;
}
.img-home img {
    width: 300px;
    padding-top: 30px;
}

.home-descricao{
    background: linear-gradient(to bottom, var(--bg-light-blue),white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.home-descricao img {
    max-height: 50%;
}
.home-descricao p{
    max-width: 50%;
    margin: auto;
    text-align: justify;
}



.main-content h2 {
    text-transform: uppercase;
    font-family: var(--bold-font);
}

.main-content p {
    font-size: 1.4em;
}

.home-img img{
    max-width: 100%;
    height: auto;
}

.home-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.home-text img {
    margin-right: 50px;
    width: 350px;
}

.home-text h2 {
    margin-bottom: 50px;
    transition-delay: 0.3s;
}

/* VANTAGENS */
.vantagens-content h2, .vantagens-content p{
    width: 50%;
    text-align: center;
}
.vantagens-content h2{
    margin-bottom: 20px;
    margin-top: 20px;
}
.descricao-vantagem{
    margin-bottom: 80px;
}

.vantagens-content .descricao {
    font-size: 1.5rem;
    width: 100%;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.vantagens-content h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.vantagem-block{
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    font-size: 1em;
    transition: all 0.3s ease;
    background-color: white;
}

.vantagem-block p{
    width: 80%;
    text-align: justify;
    margin: auto;
}

.vantagem-block i {
    font-size: 50px; /* tamanho do ícone em si */
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--fourth-color);
    color: white;
    border-radius: 10%;
    margin: auto;
    padding: 40px;
    margin-bottom: 30px;
    border: 2px solid var(--third-color);
}

.vantagem-block:hover {
    transform: translateY(-10px);
}

.vantagem-block p{
    font-size: 1.2em;
}

/* Produtos */
.spacing-produtos {
    height: 10px;
    width: 99vw;
    margin-bottom: 30px;
    background: var(--third-color);
}

.produtos-content h2 {
    color: var(--second-color);
    width: 100%;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    margin-top: 65px;
}
.produtos-content .descricao {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.produtos-content .botao-produtos {
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    width: 50%;
    margin: 0 auto;
    border-radius: 50px;
    padding: 10px;
    border: 2px solid white;
    transition: all 300ms ease-in-out;
}

.produtos-content .botao-produtos:hover {
    transform: scale(1.02); 
    border: 2px solid var(--second-color);
}

.text-produtos img {
    /* margin-left: 100px; */
    margin: auto;
    margin-top: 45px;
    max-width: 100%;
    max-height: 400px;
}

.img-produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    gap: 20px;
}

.img-produtos2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    gap: 20px;
    margin: auto;
}


.text-produtos h4 {
    text-align: center;
    font-size: 1.7rem;
    background-color: var(--primary-color);
    color: white;
    padding: 5px;
    margin-top: 50px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 1px solid black;
}

.img-produtos a, .img-produtos2 a{
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 15px; 
}

.img-produtos .foto-produto, .img-produtos2 .foto-produto {
    width: 100%; 
    max-width: 550px;
    max-height: 200px;
    min-height: 150px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.575);
    overflow: hidden;
}

.img-produtos a img, .img-produtos2 a img{
    width: 100%;
    height: 100%;
    min-height: 110px;
    object-fit: cover;
    transition: all 300ms ease-in-out;
}

.img-produtos a:hover img, .img-produtos2 a:hover img {
    transform: translate(-3%, -3%) scale(1.1); 
}

.img-produtos a::after, .img-produtos2 a::after{
    content: attr(data-nome)
    attr(data-preco); 
    font-family: var(--default-font);
    position:absolute;
    /* bottom: 0; */
    left: -3%;
    width: 95%;
    background: var(--third-color);
    color: white;
    text-align: center;
    font-size: 0.9rem;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.2s ;
}

.img-produtos a:hover::after, .img-produtos2 a:hover::after {
    opacity: 1; 
}

/* Fale conosoco */
footer {
    background-color: #333;
    color: white;
    text-align: center;
}

.fale-conosco-content p, .footer-section a img{
    padding: 10px 0px;
}

.fale-conosco-content .sobre p{
    font-size: 0.9rem;
    padding: 10px 100px;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h2 {
    font-size: 1.5rem;
    color:whitesmoke;
}

.footer-bottom {
    background-color: #222;
    padding: 10px;

}
.footer-bottom p{
    font-size: 1rem;
}

.footer-section a {
    padding: 0px 3px;
}

.footer-section img {
    width: 30px;
    border-radius: 50%;
}