:root{
    /* Font */
    --header-font: "Mulish", sans-serif;
    --main-font: "Figtree", sans-serif;
    --description-font: "Segoe UI", sans-serif;
    --main-color-font: #0281af;
    --dark-color-font: #035472;

    /* Backgroud Color */
    --dark-blue-bg:#00688F;
    --blue-bg: #00739E;
    --light-blue-bg: #E0F5FC;
    --cyan-blue-bg: #9cc2cf;
    --very-light-gray-bg: #F5F7FA;
    --light-gray-bg: rgba(128, 128, 128, 0.05);

    /* Box Shadow  */
    --box-shadow-fraco: 0 2px 4px rgba(0, 0, 0, 0.1);
    --box-shadow-medio: 0 4px 8px rgba(0, 0, 0, 0.15);
    --box-shadow-forte: 0 12px 32px rgba(0, 0, 0, 0.15);

    --light-gray-color: rgba(128, 128, 128, 0.25);
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

.animacao{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease-out;
}

.escondido{
    opacity: 0;
    transform: translateY(30px);
}

/* ------------------------------------ HEADER ------------------------------------ */

header{
    background-color: var(--very-light-gray-bg);
    height: 115px;
    top: 0;
    position: sticky;
    background-size: cover;
    box-shadow: var(--box-shadow-medio);
    z-index: 999;
    transition: transform 0.4s ease;
    transform: translateY(0);
}

.header-static{
    transform: translateY(-100%);
    box-shadow: none;
}

.logo img{
    height: 115px;
}

.header-contaner{
    width: 70%;
    margin: auto;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    gap: 20px;

    color: var(--main-color-font);
    font-family: var(--header-font);
    font-size: 1.2em;
}

.menu li {
    list-style: none;
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
}

.menu li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0%;
    height: 2px;
    background-color: var(--main-color-font); 
    transition: width 0.3s ease-in-out;
}

.menu li:hover::after {
    width: 100%;
}

.menu a{
    text-decoration: none;
    color: var(--main-color-font);
}


/* ------------------------------------ INTRO ------------------------------------ */
main{
    display: block;
    text-align: center;
}

.logo-intro{
    background: var(--light-blue-bg);
    width: 100%;
    gap: 10px;
    padding: 65px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem{
    margin-top: 40px;
}

.intro-titulos{
    text-align: start;
}

.logo-intro h1, .logo-intro h2{
    font-size: 2.8em;
    font-family: var(--main-font);
    font-weight: 500;
    margin-right: 80px;
}

.logo-intro h2{
    font-size: 2em;
    font-weight: 400;
    color: var(--main-color-font);
}

.logo-intro p {
    margin-top: 20px;
    font-family: var(--description-font);
    font-weight: 600;
}

.logo-intro img{
    height: 30vh;
    display: block; 
}

/* ------------------------------------ VANTAGENS ------------------------------------ */

#vantagens {
    scroll-margin-top: 130px; 
}

.vantagens-content h1{
    font-family: var(--header-font);
    padding: 4vh;
}

.vantagens-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    gap: 30px;
    max-width: 1200px;
    padding-top: 5vh;
    padding-bottom: 15vh;
}

.vantagens-item{
    display: flex;
    flex-direction: column;
    
    padding: 30px;
    min-height: 30px;
    border-radius: 20px;
    background-color: var(--very-light-gray-bg);
    font-family: var(--header-font);
    box-shadow: var(--box-shadow-medio);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.vantagens-item:hover{
    transform: translateY(-10px);
    box-shadow: var(--box-shadow-forte);
    cursor: pointer;
}

.vantagens-item i {
    margin: auto;
}

.vantagens-item .fa-solid{
    color: var(--main-color-font);
    font-size: 3em;
    background-color: var(--light-blue-bg);
    
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    margin-bottom: 30px;
}

.vantagens-item h2{
    margin-bottom: 20px;
}

.vantagens-item p{
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 50px;
}

/* ------------------------------------ PRODUTOS ------------------------------------ */

#produtos {
    scroll-margin-top: 130px; 
}

.produtos{
    background-color: var(--very-light-gray-bg);
    min-height: 100vh;
}

.carrossel{
    background-color: var(--light-gray-bg);
}

.produtos h1{
    font-family: var(--header-font);
    padding: 4vh;
}

.swiper{
    width: 80%;
}

.swiper-slide{
    font-family: var(--main-font);
}

.swiper-slide img{
    object-fit: cover;
    max-width: 90%;
    height: 30vh;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow-medio);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.swiper-slide img:hover{
    transform: translate(5px, -2px);
    box-shadow: var(--box-shadow-forte);
}

.swiper-slide .info{
    margin-bottom: 20px;
}

.swiper-slide .info h3{
    color: var(--main-color-font);
    font-size: 1.4em;
}

.swiper-slide .info p{
    font-weight: 200;
}

.swiper-button-prev,
.swiper-button-next {
    font-size: 2em;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.fa-circle-arrow-right,
.fa-circle-arrow-left{
    transition: transform 0.2s ease;
}

.fa-circle-arrow-right:hover,
.fa-circle-arrow-left:hover{
    transform: scale(1.2);   
    color: var(--dark-color-font);
}

.mercado-livre-content{
    width: 100%;
    background: var(--cyan-blue-bg);
}

.mercado-livre-content h1{
    color: white;
    font-family: var(--header-font);
    font-size: 1.7em;
    padding-top: 10vh;
    padding-bottom: 1vh;
}

.mercado-livre-content h2{
    font-family: var(--main-font);
    font-size: 1.2em;
    max-width: 50%;
    font-weight: 300;
    margin: auto;
    margin-bottom: 3vh;
    color: var(--light-blue-bg);
}

.mercado-livre-content span{
    color: white;
    font-weight: 600;
}

.mercado-livre-content a{
    display: inline-block;
    text-decoration: none;
    font-family: var(--main-font);
    font-weight: 500;
    background: var(--dark-blue-bg);
    color: white;
    margin-bottom: 3vh;
    padding: 14px 35px;
    border-radius: 30px;
    transition: transform 0.3s ease;
    box-shadow: var(--box-shadow-fraco);
}

.mercado-livre-content a:hover {
    transform: scale(1.05); 
    color: var(--dark-blue-bg);
    background: white;
    box-shadow: var(--box-shadow-medio);
}

.espaco-azul{
    height: 80px;
    background: var(--dark-blue-bg);
}

/* ------------------------------------ SOBRE NÓS ------------------------------------ */
#sobre-nos {
    scroll-margin-top: 100px; 
}

#sentinela-mq{
    display: none;
}

.sobre-nos{
    width: 80%;
    min-height: 100vh;
    margin: auto;
    margin-top: 80px;
}

.sobre-nos-description{
    margin-top: 6vh;
    border-radius: 20px;
    padding: 30px;
    padding-bottom: 0;
}

.sobre-nos h1{
    font-family: var(--main-font);
    margin-bottom: 30px;
}

.sobre-nos p {
    font-size: 1.1em;
    max-width: 45%;
    margin: auto;
    text-align: justify;
    font-family: var(--header-font);
}

.sobre-nos-img{
    max-width: 45%;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    background: var(--light-gray-bg);
    border-radius: 20px;
    box-shadow: var(--box-shadow-medio);
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.sobre-nos-img:hover{
    transform: translateY(-10px);
}

.sobre-nos-img img{
    display: block;
    object-fit: cover;
    margin: auto;
    width: 100%;
    height: 100%;
}

/* ------------------------------------ FALE CONOSCO ------------------------------------ */

.fale-conosco{
    font-family: var(--header-font);
    background: var(--very-light-gray-bg);
    padding: 20px;
}

.linha{
    width: 55%;
    margin: 20px auto;
    margin-bottom: 40px;
    background-color: var(--light-gray-color);
    height: 3px;
    border: none;
}

.fale-conosco h1{
    margin-top: 10px;
}

.fale-conosco h2{
    color: var(--dark-color-font); 
    font-size: 1em;
}

.fale-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin: auto;
    max-width: 80%;
    margin-bottom: 20px;
}

.fale-item h2{
    font-size: 1.5em;
    color: var(--dark-color-font); 
}

.fale-conosco p{
    margin-top: 5px;
    font-family: var(--main-font);
}

/* ------------------------------------ RODAPÉ ------------------------------------ */

footer{
    min-height: 12vh;
    background: var(--dark-blue-bg);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 1.2em;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gtihub-container{
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.github {
    color: var(--light-blue-bg);
    font-size: 0.8em;
    font-weight: 500;
}

.github-link {
    color: black;
    font-weight: 300;
    font-size: 0.8em;
    text-decoration: underline;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.github-link:hover{
    transform: scale(1.02);   
    color: white;
}

.hamburguer {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* ------------------------------------ MEDIA QUERY ------------------------------------ */
@media (max-width: 768px) {

    /* HEADER */
    .hamburguer {
        display: block;
    }

    .menu {
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 80px;
        right: 20px;
        box-shadow: var(--box-shadow-forte);
        padding: 1rem;
        border-radius: 8px;
        z-index: 1000;
    }

    .menu.menu-none {
        display: none;
    }

    .menu.header-static {
        transform: translateY(-100%);
        transition: transform 0.4s ease;
    }

    /* INTRO */
    .mq{
        display: none;
    }

    .logo-intro{
        background: var(--light-blue-bg);
        width: 100%;
        gap: 0px;
        padding: 45px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .logo-intro h1, .logo-intro h2{
        margin-right: 0px;
    }

    .logo-intro h1{
        font-size: 2.1em;
    }

    .logo-intro h2{
        font-size: 1.8em;
    }

    .logo-intro p {
        font-size: 0.9em;
    }

    .logo-intro img{
        height: 25vh;
        margin-left: 10px;
    }

    .intro-titulos{
        text-align: start;
    }


    /* VANTAGENS */
    .vantagens-grid {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        gap: 40px;
        width: 80%;
        padding-top: 5vh;
        padding-bottom: 15vh;
    }

    .vantagens-item p{
        font-size: 1em;
        font-weight: 400;
        margin-bottom: 50px;
        width: 80%;
        margin: auto;
    }

    /* PRODUTOS */
    #produtos {
        scroll-margin-top: 115px; 
    }
    #sentinela{
        display: none;
    }
    #sentinela-mq{
        display: block;
    }

    .swiper-slide img{
        box-shadow: var(--box-shadow-forte);
    }

    .mercado-livre-content h1{
        padding-top: 5vh;
        padding-bottom: 2vh;
    }

    .mercado-livre-content h2{
        font-family: var(--main-font);
        font-size: 1.2em;
        max-width: 70%;
        font-weight: 300;
        margin: auto;
        margin-bottom: 3vh;
        color: var(--light-blue-bg);
    }

    /* SOBRE NÓS */
    #sobre-nos {
        scroll-margin-top: 110px; 
    }

    .sobre-nos p {
        font-size: 1.1em;
        max-width: 75%;
        margin: auto;
        text-align: justify;
        font-family: var(--header-font);
    }

    .sobre-nos-img{
        max-width: 45%;
        height: 200px;
        margin: auto;
        margin-top: 50px;
        max-width: 80%;
    }

    /* FALE CONOSCO */
    .fale-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 100%;
    }
}
